<footer class="footer bg-light py-5 mt-auto ">
    <div class="container">
        <span class="text-muted">&copy;2022</span>
        <span class="text-muted">@ Solomon David</span>
    </div>
</footer>