<% layout('layout/boilerplate') -%>
<h1 class="text-center text-muted">YOUR CART</h1>
<div class="container mt-4 rounded" id="bg">
   
        <ul class="list-group  py-3">
            <li class="list-group-item disabled text-center" aria-disabled="true"> YOUR ORDERS</li>
            <li class="list-group-item text-center"><span class="text-muted">cocopops</span>:$45</li>
            <li class="list-group-item text-center"><span class="text-muted">rice</span> :$12</li>
            <li class="list-group-item text-center"> <span class="text-muted">TOTAL</span>:$12</li>
        
        </ul>
            
  

</div>
